@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center mt-5" id="dataHome">
    <h3 class="display-4 text-primary">Chào mừng đến với ContactBook</h3>
    <p class="text-success">Chúng tôi đang nâng cấp phiên bản từng ngày!!!...</p>
</div>
